<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @play.play_image.url, class: "play-show" %>
  </div>

<div class="col-md-8">
  <div class="play-info">
      <p>
        <h2 class="play-title"><strong>Title:</strong>  <%= @play.title %></h2>

      </p>

      <p>
        <h4 class="play-director"><strong>Category: </strong> <%= @play.category.name %></h4>

      </p>
      <h4 class="average-rating">Average Rating</h4>
      <div class="averge-review-rating" data-score="<%= @average_review %>"></div>
      <span class="numer-of-reviews"><em>From:</em>  <%= @play.reviews.count %> reviews</span>

      <p class="play-desc">
        <strong>Description:</strong>
        <%= @play.description %>
      </p>

      <p class="play-director">
        <strong>By:</strong>
        <%= @play.director %>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Review</h1>
      <%= render @play.reviews %>
      <div>
        <%= link_to "Add Reviews", new_play_review_path(@play) %>
      </div> <br>
  </div>
</div>

<% if user_signed_in? %>
  <% if @play.user_id == current_user.id %>
  <di>
    <%= link_to 'Edit', edit_play_path(@play), class: "btn btn-success" %>  <br>
    <%= link_to 'Destroy', play_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> <br>

  </di>

  <% end %>
    <%= link_to 'Back', plays_path, class: "btn btn-info" %>
<% end %>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score')
    },
    path: '/assets/'
  });
</script>

<script>
  $('.averge-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score')
    }
  });
</script>
